*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: sans-serif;
}
section{
  background-color: rgb(18, 26, 31);
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 90%;
  max-width: 400px;
  background-color: rgba(4, 89, 110, 0.599);
  border-radius: 8px;
  overflow: hidden;
}
.display{
  background-color: rgb(145, 190, 189);
  height: 100px;
  width: 100%;
  text-align: right;
  padding: 20px;
  font-size: 50px;
  position: relative;
}
.display-1{
  opacity: .9;
  font-size: 20px;
  height: 20px;
  overflow: hidden;
  color: rgb(255, 225, 0);
}
.display-2{
  color: rgb(255, 225, 0);
}
.temp-result{
  position: absolute;
  bottom: 0;
  left: 10;
  font-size: 30px;
  opacity: .9;
  color: white;
}

.all_button{
  color: rgb(255, 225, 0);
  display: grid;
  grid-template:repeat(4, 1fr) / repeat(4, 1fr) ;
}
.button{
  border: .5px solid rgb(255, 225, 0);;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
}
.button:hover{
  background-color: rgb(30, 43, 46);
}
.btn-0{
  grid-column: 1/3;
}